@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-family: "Lato", sans-serif;
}

header {
    background-color: cadetblue;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 4px 3px cadetblue;
}

header * {
    margin: 0;
    color: lightcyan;
}

header h1 {
    margin-bottom: 8px;
    font-size: 2.5rem;
}

header p {
    letter-spacing: 1px;
    margin-bottom: 50px;
}

header button {
    height: 60px;
    width: 160px;
    border-radius: 8px;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: darkcyan;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#overlay {
    top: 0;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    opacity: .3;
    z-index: 1;
}

.content {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width: 800px;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    z-index: 2;
}

.box {
    width: auto;
    position: relative;
    border: 1px solid grey;
}

.box a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.box img {

}